In [ ]:
# Advanced Python Practice Questions

In [ ]:
# ✳️ A. Strings (Advanced)

In [25]:
# **1. Merge two strings character by character (alternating)**

# **Input:** 
s1 = "abc"
s2 = "xyz"
s3 = ""
for i in range(0, len(s1)):
    s3 = s3 + s1[i] + s2[i]
    # s3 += s2[i]
s3

'axbycz'

In [5]:
# **2. Check if one string is a rotation of another**

# **Input:** 
s1 = "ashsh"
s2 = "hshas"
def rotationCheck(string1, string2):
    if len(string1) != len(string2):
        return False
    temp = string1 + string2
    if string2 in temp:
        return True
    else:
        return False


if rotationCheck(s1, s2):
    print(f"Yes, s2 is a rotation of s1:")
else :
    print("No, s2 is not a rotation of s1")

Yes, s2 is a rotation of s1:

In [32]:
# # **3. Replace every vowel in a string with its index position**

w = "hello world"
l = ['a','e','i','o','u']
ans = ""
for i in range(0, len(w)):
    if w[i] in l:
        ans += str(i)
    else:
        ans += w[i]
ans

'h1ll4 w7rld'

In [7]:
# **4. Extract words longer than 4 letters from a sentence**

h = "Python makes coding enjoyable and powerful"
h1 = h.split(" ")
for i in h1:
    if len(i) < 4:
        h1.remove(i)

h1
# " ".join(h1)

['Python', 'makes', 'coding', 'enjoyable', 'powerful']

In [4]:
# **5. Print all palindromes from a list of words**

inp = ["madam", "racecar", "apple", "level", "banana"]
for i in inp:
    a = i[::-1]
    if a == i:
        print(a)

madam
racecar
level

In [ ]:
# **6. Count character frequency (case-sensitive)**

ab = "Success"
a = {}
for i in ab:
    if i in a:
        a[i] += 1
    else:
        a[i] = 1
a

{'S': 1, 'u': 1, 'c': 2, 'e': 1, 's': 2}

In [19]:
# **7. Group strings by their length using a dictionary**

inp = ["sun", "sky", "python", "java", "moon"]
# a = {3: ['sun', 'sky'], 6: ['python'], 4: ['java', 'moon']}
a = {}
for i in inp:
    n = len(i)
    if n not in a:
        a[n] = [i]
    else:
        a[n].append(i)
a

{3: ['sun', 'sky'], 6: ['python'], 4: ['java', 'moon']}

In [ ]:
# ✳️ B. Lists (Advanced)

In [19]:
# 8. Check if all elements in a list are unique

inp = [1, 2, 3, 4, 5, 2]
inp2 = []
for i in inp:
    if i not in inp2:
        inp2.append(i)

if len(inp) != len(inp2):
    print("No, list contains duplicate values")
else:
    print("Yes, list have all unique elements")

No, list contains duplicate values

In [23]:
# **9. Find second highest number without using `sort()` or multiple `max()`**

a = [10, 25, 30, 45, 22, 44, 46]
max = 0
smax = 0
for i in a:
    if max < i:
        smax = max
        max = i
    elif smax < i:
        smax = i
    
smax

45

In [26]:
# 10. Square only the numeric elements in a mixed list
Input = [2, "apple", 5, "banana", 3]
List = []
for i in Input:
    if isinstance(i, int):
        List.append(i*i)

List

[4, 25, 9]

In [55]:
# **11. From a list of full names, return only initials**

List = ["Alice Johnson", "Bob Smith", "Charlie Brown"]
List1 = []
for i in List:
    tempV = ""
    tempList = i.split(" ")
    for j in tempList:
        # print(j)
        for k in j:
            tempV += k
            # print(k)
            break
    # print(tempV)
    List1.append(tempV)
List1

['AJ', 'BS', 'CB']

In [57]:
# **12. Count how many times each number appears in a list using a dictionary**

List = [1, 2, 2, 3, 3, 3, 4]
Dict = {}
for i in List:
    if i in Dict:
        Dict[i] += 1
    else:
        Dict[i] = 1

Dict

{1: 1, 2: 2, 3: 3, 4: 1}

In [ ]:
# ✳️ C. Dictionaries (Advanced)

In [59]:
# **13. Merge two dictionaries, summing values for common keys**

# **Input:**

dict1 = {'a': 10, 'b': 20}

dict2 = {'b': 5, 'c': 15}

for i,v in dict2.items():
    if i in dict1:
        dict1[i] += v
    else:
        dict1[i] = v

dict1

{'a': 10, 'b': 25, 'c': 15}

In [35]:
# **14. From a list, group elements by their type into a dictionary**

List = [1, "hello", 3.5, "world", 42, 0.0]
wr = {}

for i in List:
    j = type(i)
    if j not in wr:
        wr[j] = [i]
    else :
        wr[j].append(i)
wr

{int: [1, 42], str: ['hello', 'world'], float: [3.5, 0.0]}

In [36]:
# **15. Reverse the keys and values in a dictionary**

dic = {"apple": "red", "banana": "yellow"}
i = list(dic.items())
for k,v in i:
    dic[v] = k
    dic.pop(k)
dic

{'red': 'apple', 'yellow': 'banana'}

In [12]:
# **16. Sort a dictionary by values in descending order**

hf = {"Math": "75", "English": 85, "Science": 80}
hf = list(hf.items())
def srt(tup):
    print(tup)
    return int(tup[1])

sorted(hf, key = srt, reverse=True)

('Math', '75')
('English', 85)
('Science', 80)

[('English', 85), ('Science', 80), ('Math', '75')]

In [13]:
# **17. Find students with marks above 75 from a dictionary**

hf = {'Amit': 60, 'Rita': 85, 'Sohan': 90, 'Meena': 70}
for i,v in hf.items():
    if v > 75:
        print(f"{i} : {v}")

Rita : 85
Sohan : 90

In [40]:
# **18. Check if two dictionaries share any common keys**

dict1 = {'a': 10, 'b': 20}
dict2 = {'c': 5, 'b': 15}
for i in dict1:
    for j in dict2:
        if i == j:
            print(f"Yes, they share key: {i}")

Yes, they share key: b

In [21]:
# **19. Count word frequency in a sentence using a dictionary**

inp = "python java python c java python"
lm = inp.split(" ")
dict1 = {}
for i in lm:
    if i not in dict1:
        dict1[i] = 1
    else:
        dict1[i] += 1

for i,v in dict1.items():
    print(f"Most frequent word: {i}")
    break

Most frequent word: python

In [3]:
# **20. From a list of strings, create a dictionary where key = string, value = length**

inp = ["Python", "Loop", "Dictionary"]
d = {}
for i in inp:
        d[i] = len(i)

d

{'Python': 6, 'Loop': 4, 'Dictionary': 10}

In [2]:
data = [
    {
        "name" : "Dinkar",
        "marks" : [99, 80, 86],
        "age" : 21
    },{
        "name" : "Ashish",
        "marks" : [2, 4, 86],
        "age" : 60
    },
    {
        "name" : "Kailash",
        "marks" : [98, 65, 0],
        "age" : 19
    },
    {
        "name" : "Harshil",
        "marks" : [32,31,29],
        "age" : 26
    },
    {
        "name" : "Mandeep",
        "marks" : [45,43,2],
        "age" : 22
    },
]
# Q1. Sort based on age
ageList = []
sortedList = []
for student in data:
    ageList.append(student["age"])

ageList.sort()
for age in ageList:
    for student in data:
        if student["age"] == age:
            sortedList.append({
                "name" : student["name"],
                "age": student["age"],
                "marks": student["marks"],
            })

    
sortedList

[{'name': 'Kailash', 'age': 19, 'marks': [98, 65, 0]},
 {'name': 'Dinkar', 'age': 21, 'marks': [99, 80, 86]},
 {'name': 'Mandeep', 'age': 22, 'marks': [45, 43, 2]},
 {'name': 'Harshil', 'age': 26, 'marks': [32, 31, 29]},
 {'name': 'Ashish', 'age': 60, 'marks': [2, 4, 86]}]

In [1]:
data = [
    {
        "name" : "Dinkar",
        "marks" : [99, 80, 86],
        "age" : 21
    },{
        "name" : "Ashish",
        "marks" : [2, 4, 86],
        "age" : 60
    },
    {
        "name" : "Kailash",
        "marks" : [98, 65, 0],
        "age" : 19
    },
    {
        "name" : "Harshil",
        "marks" : [32,31,29],
        "age" : 26
    },
    {
        "name" : "Mandeep",
        "marks" : [45,43,2],
        "age" : 22
    },
]

for i in range(0,len(data)):
    for j in range(i+1,len(data)):
        if data[i]["age"]<data[j]["age"]:
            temp=data[i]
            data[i]=data[j]
            data[j]=temp
data

[{'name': 'Ashish', 'marks': [2, 4, 86], 'age': 60},
 {'name': 'Harshil', 'marks': [32, 31, 29], 'age': 26},
 {'name': 'Mandeep', 'marks': [45, 43, 2], 'age': 22},
 {'name': 'Dinkar', 'marks': [99, 80, 86], 'age': 21},
 {'name': 'Kailash', 'marks': [98, 65, 0], 'age': 19}]

In [2]:
data = [
    {
        "name" : "Dinkar",
        "marks" : [99, 80, 86],
        "age" : 21
    },{
        "name" : "Ashish",
        "marks" : [2, 4, 86],
        "age" : 60
    },
    {
        "name" : "Kailash",
        "marks" : [98, 65, 0],
        "age" : 19
    },
    {
        "name" : "Harshil",
        "marks" : [32,31,29],
        "age" : 26
    },
    {
        "name" : "Mandeep",
        "marks" : [45,43,2],
        "age" : 22
    },
]
# Q2. Avg. of all pass fail
results = []
for i in data:
    avg = sum(i["marks"])/3
    if avg < 33:
        results.append({
            "name": i["name"],
            "age":i["age"],
            "status":"failed"
        })

results

[{'name': 'Ashish', 'age': 60, 'status': 'failed'},
 {'name': 'Harshil', 'age': 26, 'status': 'failed'},
 {'name': 'Mandeep', 'age': 22, 'status': 'failed'}]

In [1]:
# 7. Create a function to take a list and return the sum of even numbers only.
def evenNum(*num):
    s = 0
    for i in num:
        if num % 2 == 0:
            s += num
    return s
# lis = [1,2,3,4,5]
# list(filter(evenNum, lis))
print(evenNum(10,20,30))

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'