In [ ]:
# ✅ Section 1: Functions (Basics to Intermediate)

In [1]:
# 1. Define a function that takes a name and prints "Hello, name !"
def greet(name):
    return f'Hello, {name}!'
greet('Chetan')

'Hello, Chetan!'

In [ ]:
# 2. Write a function to calculate factorial of a number without using 
def fact(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact

print(fact(6))

720

In [12]:
# 3. Create a function is_palindrome(s) that checks if a given string is a palindrome or not.
def is_palindrome(s):
    f = s[::-1]
    return f == s
is_palindrome("Hello")

False

In [14]:
# 4. Define a function with default arguments that calculates power(base,
# exponent=2) .
def power(base, exponent=2):
    return base**exponent
power(4,3)

64

In [ ]:
# 6. Create a function that accepts any number of positional arguments and
# returns their average.
def avg(*nums):
    total = 0
    for i in nums:
        total += i
    return total/len(nums)

print(avg(10, 11, 10))

10.333333333333334

In [11]:
# 7. Create a function to take a list and return the sum of even numbers only by map()
def evenNum(num):
    if num % 2 == 0:
        return num      
    return 0
num = [1, 2, 3, 4, 5, 6]
sum(map(evenNum, num))

12

In [ ]:
# ✅ Section 2: map() and filter()

In [2]:
# 1. Given a list of numbers, use map() to return a new list with their squares.
numbers = [1,2,3,4,5,6,7,8,9]
def Sq(num):
    return num**2
list(map(Sq, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# 2. Convert a list of strings to uppercase using map() 
lis = ["dinkar","kailash", "patil","hello"]
def Up(name):
   return name.upper()
list(map(Up, lis))

['DINKAR', 'KAILASH', 'PATIL', 'HELLO']

In [8]:
# 3. Use map() to convert a list of prices from INR to USD ( 1 USD = 83 INR )
list_of_currency = [100, 340, 543, 689, 928]
def convert(one):
    return f"INR {one} : {round((one/83),2)} USD"
list(map(convert, list_of_currency))

['INR 100 : 1.2 USD',
 'INR 340 : 4.1 USD',
 'INR 543 : 6.54 USD',
 'INR 689 : 8.3 USD',
 'INR 928 : 11.18 USD']

In [13]:
# 4. Given a list of names, use filter() to extract only names that start with 'A'.
nms = ["Dinkar", "Ayush", "Aditya", "Ashish"]
def srt(nms):
    if nms[0] in "aA":
        return True
    else:
        return False
tuple(filter(srt, nms))

('Ayush', 'Aditya', 'Ashish')

In [14]:
# 5. Use filter() to return only even numbers from a list
lst = [3,2,3,4,5,3,4,7,9]
def evenN(num):
    return num % 2 == 0
list(filter(evenN, lst))

[2, 4, 4]

In [17]:
# 6. Use filter() to select only non-empty strings from a list.
nonEmpty = ["dinkar", "Hello", "filer", "yehwk", "pow", ""]
def findEmpty(name):
    return len(name) > 0
list(filter(findEmpty, nonEmpty))

['dinkar', 'Hello', 'filer', 'yehwk', 'pow']

In [19]:
# 7. From a list of tuples like [(‘John’, 90), (‘Amy’, 75)] , use filter() to select students
# scoring more than 80.
students = [('Dino', 90), ('Ashu', 79), ('Fish', 95)]
def marksUp(tup):
    return tup[1] > 80
list(filter(marksUp, students))

[('Dino', 90), ('Fish', 95)]

In [ ]:
# logger
# check age
# check auth - login requird
# is userPass
# is deletedAllowed- delete(deleteBy, name)

In [41]:
def logger(func):
    def wrapper():
        print(f"Function named as : '{func.__name__}' is called")
        func()
    return wrapper
@logger
def called():
    print("Function is called")
@logger
def notCalled():
    print("Calling another one")
notCalled()

Function named as : 'notCalled' is called
Calling another one

In [55]:
# check age
def isAdult(func):
    def innerFunc(*args, **kwrgs):
        age = kwrgs.get("age")
        born = kwrgs.get("born")
        if age >18 and born == "yes":
            func(*args, **kwrgs)
        elif age > 18:
            print("You are not born yet")
        else:
            print("Access denied")
    return innerFunc

@isAdult
def check(age, born):
    print("You are eligible")

check(age=23,born="yes" )

You are eligible

In [25]:
# check auth - login requird
def authentication(func):
    def wrapper(user):
        if user == 'Admin' or user == 'staff':
            print(f"Welcome {user}... {func(user)}")
        else:
            print("Not access for you...")
    return wrapper

@authentication
def auth(user):
    return ("Access Granted")

auth(user="staff")

Welcome staff... Access Granted

In [38]:
# is userPass
def results(func):
    total = 0
    def wrapper(*marks):
        avg = sum(marks)//len(marks)
        if avg >= 33:
            print(func(*marks))
        else:
            print("Failed.....")
    return wrapper

@results
def passed(*marks):
    return "You are going to the next year"

passed(33,33,34)

You are going to the next year

In [45]:
# is deletedAllowed- delete(deleteBy, name)
def deletedAllowed(func):
    def wrapper(*args, **kwrgs):
        name = kwrgs.get("name")
        if name == 'admin':
            print("function",func.__name__,"is Deleted by", name)
            func(*args, **kwrgs)
        else:
            print("You can't delete this")
    return wrapper

@deletedAllowed
def alpha(name):
    print ("deleted")

alpha(name="admin")

function alpha is Deleted by admin
deleted

In [ ]:
# ✅ Section 3: Lambda Functions

In [ ]:
# 1. Write a lambda function to add 10 to a number.
# Add 10 to a number
add_ten = lambda x: x + 10
print(add_ten(5))

15

In [48]:
# 2. Create a lambda that multiplies two numbers and test it with map() .
mul = lambda x,y: x*y
list1 = [2, 4, 6, 8]
list2 = [3, 5, 7, 9]
list(map(mul, list1, list2))

[6, 20, 42, 72]

In [55]:
# 3. Given a list of words, use map() with lambda to return their lengths
list1 = ["Hello", "Mafia", "mango", "dh"]
print(list(map(lambda x: len(x), list1)))

[5, 5, 5, 2]

In [8]:
# 4. Use filter() with a lambda to find prime numbers from 1 to 50
isPrime = lambda num: len ([ j for j in range(2, num) if num % j == 0]) == 0
a = range(2, 51)
lst = list(filter(isPrime, a))
lst

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [59]:
#5. Use sorted() with lambda to sort a list of tuples by the second element:
sorted([('apple', 3), ('banana', 1), ('mango', 5)], key =lambda x:x[1])

[('banana', 1), ('apple', 3), ('mango', 5)]

In [62]:
# 1. Write a lambda function to check if a number is divisible by both 3 and 5.
check = lambda x : "divisible by both" if x % 3 == 0 and x % 5==0 else "not divisible by both"
print(check(15))
print(check(9))
print(check(10))
print(check(7))

divisible by both
not divisible by both
not divisible by both
not divisible by both

In [67]:
# 2. Use lambda inside map() to convert a list of strings to title case.
hello = list(map(lambda x : x.title(), list1))
list1 = ["Ahish", "LLm", "hello"]
hello

['Ahish', 'Llm', 'Hello']

In [ ]:
# 1. Write a function that accepts a string and returns the number of vowels in it.
def hello(srt):
    count = 0
    for i in srt:
        if i in "aeiouAEIOU":
            count+=1
    return count

hello("DinkArI")

3

In [ ]:
# 2. Write a function that takes a list and returns a new list with only the even
# numbers.
list1 = [1,2,3,4,5,5,6,7,8,9,0]
list2 = list(filter(lambda x:x%2 ==0, list1 ))
list2

[2, 4, 6, 8, 0]

In [3]:
list2 = []
list1 = [2,3,4,5,6,7,8,9]
def even(lst):
    for i in lst:
        if i % 2 == 0:
            list2.append(i)


even(list1)
list2

[2, 4, 6, 8]

In [4]:
list2 = []
list1 = [33,4,5,6,7,735,5,6,24,6436,6,436]
def oddSq(lst):
    for i in lst:
        if i % 2 != 0:
            list2.append(i*2)

oddSq(list1)
list2

[66, 10, 14, 1470, 10]

In [11]:
# 4. Create a function that checks whether a given word is a palindrome (same) forward and backward
def hello(pali):
    i = 0
    j = len(pali)-1
    while(i < j):
        if pali[i] == pali[j]:
            i+=1
            j-=1
        else:
            return False
    return True
hello("madam")

True

In [18]:
# 5. Write a function that accepts a string and returns a dictionary with the
# frequency of each character
def takeDict(s):
    dice1 = {}
    for ch in s:
        if ch in dice1 and ch != " ":
            dice1[ch] += 1
        elif ch != " ":
            dice1[ch] = 1
    print (dice1)
    
takeDict("Hello miss world")

{'H': 1, 'e': 1, 'l': 3, 'o': 2, 'm': 1, 'i': 1, 's': 2, 'w': 1, 'r': 1, 'd': 1}

In [28]:
# 6. Create a function that accepts a list of integers and returns the second
# largest unique number.
list1 = [1,2,3,4,5,6,7,8,9,9,8,7,6]
def hell(lst):
    maxy = 0
    smaxy = 0
    for i in lst:
        if i > maxy:
            smaxy = maxy
            maxy = i
        elif i > smaxy and i != maxy:
            smaxy = i
    return smaxy

hell(list1)

8

In [31]:
def first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        for i in range(2, num):
            if num % i == 0:
                break
        else: 
            primes.append(num)
        num += 1
    return primes

print(first_n_primes(10))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]