In [3]:
### **1. Count vowels and consonants in a string**

Input = "Education"
v = 0
c = 0
for i in Input:
    i = i.lower()
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        v += 1
    else :
        c+=1

print(f"Vowels are {v} in string")
print(f"Consonants are {c} in string")

Vowels are 5 in string
Consonants are 4 in string

In [1]:
# ### **2. Remove all even numbers from a list**

Input = [10, 13, 22, 25, 40, 45]

for i in Input:
    if i % 2 == 0:
        Input.remove(i)# it remove the element which firstly occured

Input

[13, 25, 45]

In [38]:
# 3. Reverse each word in a sentence
str = "Python is fun"
str1 = str.split(" ")
for i in range(0, len(str1)): 
    ab = str1[i][::-1]
    str1[i] = ab

' '.join(str1)

'nohtyP si nuf'

In [10]:
# 4. Find the maximum number in a list (no max function)
Input = [4, 16, 8, 23, 15]
max = 0
for i in Input:
    if i > max:
        max = i

max

23

In [11]:
# üî§ 5. Print strings with length > 4
Input = ["cat", "monkey", "sun", "elephant"]
for i in Input:
    if len(i) > 4:
        print(i)

monkey
elephant

In [12]:
# üßÆ 6. Count character frequency in a string
s = "apple"
freq = {}

for char in s:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1    

print(freq)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
# üß∑ 7. Separate letters and digits from a string
str = "a1b2c3"
num = 0
let = ""
for i in str: 
    if i.isdigit():
        # i = int(i)
        num = (num*10) + int(i)
    elif i.isalpha():
        let += i

print("Letters : ", let)
print("Digits : ", num)

In [ ]:
# üîÅ 8. Find common elements between two lists
l1 = [1,2,3,4,5]
l2 = [3,4,5,6,7]
l3 = []
for i in l1:
    for j in l2:
        if i == j:
            l3.append(i)

l3

In [ ]:
# üåà 9. Print strings starting with a vowel
list = ["Apple", "mango", "orange", "Mango"]
for i in list:
    j= i[0]
    j = j.lower()
    if j == 'a' or j == 'e' or j == 'i' or j == 'o' or j == 'u':
        print(i)

In [ ]:
# üîÅ 10. Check if a string is a palindrome
str = input()
str1 = str[::-1]
if str == str1:
    print("Yes,it is a palindrome")
else : 
    print("It is not a palindrome")

In [ ]:
# üî¢ 11. Count words in a sentence
Input = "Python is a powerful language"
Input = Input.split(" ")
len(Input)

In [ ]:
# ‚úÇÔ∏è 12. Create a string using first and last letters of each word
str = "welcome on board"
str = str.split(" ")
str1 = []
for i in str: 
    str1 += i[0]

''.join(str1)

In [ ]:
# üéØ 13. Print names containing the letter ‚Äòa‚Äô
Input = ["Rita", "John", "Arun", "Meena"]
ch = 'a'
for i in Input:
    for j in i:
        j = j.lower()
        if j == ch:
            print(i)

In [14]:
### **14. Find longest word in a list**

Input = ["sun", "banana", "elephant", "dog"]
max = 0
maxy = ""
for i in Input:
    if max < len(i):
        max = len(i)
        maxy = i

maxy

'elephant'

In [18]:
### üîç **16. Add only numeric values from a mixed list**

Input = [10, "20", "abc", 5, "40"]
sum = 0
for i in Input:
    if isinstance(i, int) :
        sum += i
    elif i.isdigit():
        sum += int(i)

sum

75

In [19]:
### ‚ùå **17. Remove empty strings from a list**

Input = ["apple", "", "banana", "", "cherry"]
for i in Input:
    if len(i) == 0:
        Input.remove(i)

Input

['apple', 'banana', 'cherry']

In [21]:
### üî° **18. Extract digits from a string into a list**

Input = "a1b2c3"
list = []
for i in Input:
    if i.isdigit():
        list.append(int(i))

list

[1, 2, 3]

In [29]:
### üß© **19. Create a string using alternate characters only**

Input =  "TechSimPlus"
strr = ""
i = 0
while(i < len(Input)):
    strr += Input[i]
    i += 2

strr

'TcSmls'

In [24]:
### üß™ **20. Print words with more than 2 vowels**

Input = ["apple", "sky", "orange", "mango"]
for i in Input:
    v = 0
    for j in i:
        if j == 'a' or j == 'e' or j == 'i' or j == 'o' or j == 'u':
            v += 1
    if v >= 2:
        print(i)

apple
orange
mango

In [ ]:
# üî∑ While Loop

In [36]:
### 21. Count how many vowels are in a string using `while` loop**

# Use a loop to go through the string character by character and count vowels.
strr = "education"
countV = 0
i = 0
vowels = ['a', 'e','i','o','u']
while (i < len(strr)):
    if strr[i] in vowels :
        countV += 1
    i += 1

countV

5

In [42]:
### 22. Multiply digits of a number using `while` loop**

# Use a loop to extract each digit and multiply them.
num = 234
ml = 1
while(num > 0):
    ld = num % 10
    ml = ml * ld
    num //= 10

print(f"Product of digits is: {ml}")

Product of digits is: 24

In [44]:
### 23. Count how many times digit 5 appears in a number**

# Use a loop to extract digits and count only if the digit is 5.
num = 55345
count = 0
while(num > 0):
    ld = num % 10
    if ld == 5:
        count += 1
    
    num //= 10

print(f"Digit 5 appears {count} times")

Digit 5 appears 3 times

In [50]:
### 24. Remove all odd numbers from a list using `while` loop**

# Use a loop to remove odd numbers and keep only even ones.
List = [1, 2, 3, 4, 5]
i = 0
while(i < len(List)):
    if List[i] % 2 != 0:
        List.remove(List[i])
    i += 1
List

[2, 4]

In [ ]:
### 25. Keep removing the last character of a string until it becomes empty**

# Use a loop that shortens the string in every step.

In [ ]:
# üî∑ Python Practice: Dictionaries ‚Äì Intermediate Level

In [51]:
# 26. Count frequency of elements in a list using dictionary

lst = [1, 2, 2, 3, 3, 3]
dicfr = {}
for i in lst :
    if i in dicfr:
        dicfr[i] += 1
    else:
        dicfr[i] = 1
dicfr

{1: 1, 2: 2, 3: 3}

In [ ]:
### 27. Merge two dictionaries into one**

# **Input:**

d1 = {'a': 10, 'b': 20}

d2 = {'c': 30, 'd': 40}

for i in d2:
    d1[i] = d2[i]

d1
# {**d1, **d2}

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
### 28 Merge two dictionaries. If keys overlap, add their values**

# **Input:**

d1 = {'a': 10, 'b': 20}
d2 = {'b': 5, 'c': 15}

for key, value in d2.items():
    if key in d1:
        d1[key] += value
    else:
        d1[key] = value

print(d1)

{'a': 10, 'b': 25, 'c': 15}

In [ ]:
### 29. From a dictionary of names and marks, print names with marks > 75**

# **Input:**

dic = {'Amit': 60, 'Rita': 85, 'Sohan': 90, 'Meena': 70}
for i,v in dic.items():
    if v > 75:
        print(i,":",v)

Rita : 85
Sohan : 90

In [3]:
### 30. Reverse keys and values in a dictionary**

# **Input:**

dic = {'apple': 'red', 'banana': 'yellow'}
# in different dict - 
# dic1 = {}
# for k,v in dic.items():
#     dic1[v] = k
# dic1
# in same dict - 
i = list(dic.items())
for k,v in i:
    dic[v] = k
    dic.pop(k)
dic

{'red': 'apple', 'yellow': 'banana'}

In [ ]:
### 31. Sort a dictionary by values in descending order**

# **Input:**

dic = {'math': 80, 'english': 90, 'science': 85}
dk = sorted(dic.values())

[80, 85, 90]

In [79]:
### **7. Create a dictionary where keys are strings and values are their lengths**

# Input:

lst = ["Python", "Code", "Loop"]
dic = {}
for i in lst:
    dic[i] = len(i)

dic

{'Python': 6, 'Code': 4, 'Loop': 4}

In [78]:
### **8. Check if two dictionaries have any common keys**

# **Input:**

d1 = {'a': 1, 'b': 2}

d2 = {'b': 3, 'c': 4}

for i in d1.keys():
    for k in d2.keys():
        if i == k:
            print("Yes, common key:",i)

Yes, common key: b

In [81]:
### **9. Count character frequency from a string into a dictionary**

# **Input:**

str = "banana"
dic = {}
for i in str:
    if i in dic:
        dic[i] += 1
    else :
        dic[i] = 1

dic

{'b': 1, 'a': 3, 'n': 2}

In [89]:
### **10. Create a dictionary from two lists ‚Äì one as keys, other as values**

# **Input:**

keys = ['name', 'age', 'city']

values = ['Riya', 22, 'Bhopal']

dic = {}

for k in range(0, len(keys)):
    dic[keys[k]] = values[k]

dic

{'name': 'Riya', 'age': 22, 'city': 'Bhopal'}