In [11]:
# 1ï¸âƒ£ Reverse String
srt = "hello"

srt[::-1]

srt1 = []

for i in range(len(srt)-1,-1,-1):
    srt1.append(srt[i])

"".join(srt1)

'olleh'

In [17]:
def palindromCheck(srt):
    srt = srt.lower()
    i = 0
    j = len(srt)-1

    while(i != j):
        if srt[i] != srt[j]:
            return False
        i += 1
        j -= 1
    return True

palindromCheck("Madam")

True

In [30]:
# 3ï¸âƒ£ Fibonacci Series
### Q7. Print Fibonacci Sequence Till N

# **Problem:** Print Fibonacci numbers less than or equal to N using a while loop.
n = 7
a = 0
b = 1

for i in range(n):
    print(a, end=" ")
    c = a
    a = b
    b = c+b

0 1 1 2 3 5 8

In [34]:
n = 7
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8

In [35]:
def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    
    return fib(n-1) + fib(n-2)

n=7
for i in range(n):
    print(fib(i), end=" ")

0 1 1 2 3 5 8

In [ ]:
# 4ï¸âƒ£ Second Largest Element
arr = [10, 20, 4, 45, 99]

def secLar(arr):
    largest = 0
    slargest = 0
    for i in arr:
        if i > largest:
            slargest = largest
            largest = i
        elif i > slargest and i < largest:
            slargest = i
    return slargest

print("Second largest: ", secLar(arr))

Second largest:  45

In [45]:
# 5ï¸âƒ£ Count Vowels
vowel = ['a','e','i','o','u']
srt = 'educatione'
count = 0
for i in srt:
    if i in vowel:
        count += 1

count

6

In [48]:
# 6ï¸âƒ£ Character Frequency
srt = "programming"

freqDict = {}

for i in srt:
    if i in freqDict:
        freqDict[i] += 1
    else:
        freqDict[i] = 1

freqDict

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [ ]:
# 7ï¸âƒ£ Balanced Parentheses

ðŸ Python / Programming Coding Questions (GenC Level)
ðŸ”¹ Basic Logic & Loops

Print numbers from 1 to N

Check if a number is even or odd

Find factorial of a number

Check if a number is prime

Print Fibonacci series till N terms

Find sum of digits of a number

Reverse a number

Check if a number is a palindrome

In [62]:
# Reverse a number
num = 4543
rev = 0
while(num != 0):
    ld = num % 10
    rev = rev*10 + ld
    num //= 10

rev

3454

In [66]:
# Check if a number is a palindrome
num = 454
rev = 0
tempnum = num
while(tempnum != 0):
    ld = tempnum % 10
    rev = rev*10 + ld
    tempnum //= 10

num == rev

True

In [3]:
n = int(input("Enter number..."))

for i in range(1, n+1):
    print(i)

1
2
3
4
5

In [5]:
n = 6

if n % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

In [ ]:
# factorial
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

def fact(n):
    if n == 0 or n == 1:
        return 1
    return n * fact(n-1)

print(fact(n))

120
120

In [38]:
# Check if a number is prime
n = 5

is_prime = True

if n <= 1:
    is_prime = False
else:
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

if is_prime is True:
    print ("Prime Number")
else:
    print("Not a prime number")

Prime Number

In [1]:
gen = (x*x for x in range(5))

In [3]:
next(gen)

1

In [43]:
n = 5
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
            break

    return True

for i in range(0, n+1):
    if is_prime(i):
        print(i)
        sum += i

print(sum)

2
3
5
10

In [29]:
# Print Fibonacci series till N terms
n = 6

a = 0
b = 1

sum = 0
for i in range(n):
    print(a, end=" ")
    sum = (a + b - 1)
    c = a
    a = b
    b = c + b

print("Sum of first n", sum)

0 1 1 2 3 5 Sum of first n 12

In [33]:
def fabb(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fabb(n-1) + fabb(n-2)

n = 6
sum = 0
for i in range(n):
    print(fabb(i), end=" ")
    sum += fabb(i)
print("Sum of fabb till n", sum)

0 1 1 2 3 5 Sum of fabb till n 12

In [49]:
# Find sum of digits of a number
n = 48
sum = 0

while(n != 0):
    sum += n % 10
    n //= 10

print(sum)

12

Reverse a string

Check if a string is a palindrome

Count vowels and consonants in a string

Find frequency of each character

Remove duplicate characters from a string

Count words in a sentence

Check if two strings are anagrams

In [ ]:
s1 = "silent"
s2 = "listn"

# 1
sorted(s1) == sorted(s2)

# 2


d1 = {}
d2 = {}
for ch in s1:
    d1[ch] = d1.get(ch, 0) + 1
for ch in s2:
    d2[ch] = d2.get(ch, 0) + 1

{'l': 1, 'i': 1, 's': 1, 't': 1, 'n': 1}

In [104]:
srt = " hello i am din kar "

srt = srt.split()

len(srt)

5

In [ ]:
# 1 duplicate from string
srt = "abcabcddd"
"".join(set(srt))

res = ""

#2
for i in srt:
    if i not in res:
        res += i
res

'abcd'

In [92]:
srt = "abcabcddd"

sd = {}

for i in srt:
    i = i.lower()
    if i in sd:
        sd[i] += 1
    else:
        sd[i] = 1

sd

{'a': 2, 'b': 2, 'c': 2, 'd': 3}

In [89]:
srt = "abcdefghijklmnopqrstuvwxyz"
c = 0
v = 0
for i in srt:
    if i in 'aeiou':
        v +=1
    else:
        c += 1

print("Vowel", v, "Consonants",c)

Vowel 5 Consonants 21

In [85]:
str = "nayan"
pali = ""

for ch in str:
    pali = ch + pali

str == pali

True

In [70]:
str = "hello"

print(str[::-1])

rts = ""
for ch in str:
    rts = ch + rts

print(rts)

print("".join(reversed(str)))

olleh
olleh
olleh

In [ ]:
str = "Hello world"

str1  = str.split(" ")

str1.reverse()



str2 = " ".join(str1)

'dlrow olleH'

Find largest and smallest element in an array

Find second largest element

Remove duplicates from a list

Count even and odd numbers in an array

Find sum and average of array elements

Rotate array by K positions (basic version)

Find missing number from 1 to N

In [ ]:
arr1 = [10, 20, 30, 24, 24, 30]

TypeError: 'int' object is not callable

In [129]:
arr = [10, 20, 30, 24, 24, 30]

secLar = 0
lar = 0

for i in arr:
    if i > lar:
        secLar = lar
        lar = i
    elif i > secLar and i < lar:
        secLar = i

secLar

24

In [140]:
def numbers():
    yield 1
    yield 2
    yield 3

for num in numbers():
    print(num)

1
2
3

In [ ]:
class student:
    pass

s1 = student()

In [ ]:
def dec(func):
    def wrapper():